<%- include('partials/header') %>
<div class="ui main container">
  <div class="ui top attached segment">
    <div class="ui divided items">
      <% blogs.forEach(blog => { %>
      <div class="item">
        <div class="image">
          <img src="<%= blog.image %> " alt="" srcset="" />
        </div>
        <div class="content">
          <h2>
            <a class="ui header" href="/blogs/<%= blog._id %>"
              ><%= blog.title %></a
            >
          </h2>
          <div class="meta">
            <span><%= blog.created.toDateString() %></span>
          </div>
          <div class="description">
            <p><%= blog.body.substring(0, 100) %>...</p>
          </div>
          <div class="extra">
            <a
              class="ui floated violet basic button"
              href="/blogs/<%= blog._id %>"
              >Show more <i class="right chevron icon"></i
            ></a>
          </div>
        </div>
      </div>
      <% }); %>
    </div>
  </div>
</div>
<%- include('partials/footer') %>
