<%- include('partials/header') %>
<h1>blogs page</h1>
<% blogs.forEach(blog => { %>
<div>
  <h2><%= blog.title %></h2>
  <img src="<%= blog.image %> " alt="" srcset="" />
  <span><%= blog.created %></span>
  <p><%= blog.body.substring(0, 100) %>...</p>
  <a href="/blogs/<%= blog._id %>">Show more</a>
</div>
<% }); %> <%- include('partials/footer') %>
